body {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
	box-sizing: border-box;
}

header {
	position: relative;
	top: 0;
	background-color: #dcdcdc;
	border-bottom: 2px solid #cccccc;
	width: 100%;
	height: 75px;
}

.navMenu {
	list-style-type: none;
	position: absolute;
	top: 10px;
	right: 30px;
}

.navList {
	margin-left: 20px;
	display: inline-block;
	font-size: 1.2em;
}

h1 {
	margin-left: 30px;
	position: absolute;
	top: -3px;
}

.navMenu a:link {
	text-decoration: none;
	color: purple;
}
/** end header **/
.container {
	margin-top:30px;
	margin-left: 50px;
}

input {
	width: 400px;
	display: inline-block;
	margin-top: 8px;
	font-size: 1.1em;
	border: 2px solid #cccccc;
	border-radius: 2px;
	padding-top: 
}

img {
	width: 23px;
	border: 2px solid #cccccc;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	top: 7px;
}
/** end search form **/

.resultNav {
	list-style-type: none;
	font-size: 0;
	padding-left: 0;
	margin-top: 30px;
	}

.resultButton {
	display: inline-block;
	text-align: center;
	font-size: 16px;
	border: 2px solid #cccccc;
	padding: 6px 15px;
}

li.first {
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	border-right: 0px;
}

li.last {
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	border-left: 0px;
}
/** end search-result nav buttons **/

.searchResults {
	margin-top: 50px;
}

p {
	color: grey;
}

.searchResults a:link {
	text-decoration: none;
	font-weight: bold;
	color: blue;
	padding-left: 5px;
	padding-right: 5px;
}

